.selcetStyle {
  :global {
    .ant-select-selection {
      box-shadow: -1px 0 0 0 #1890ff;
      background: #1890ff;
      color: #fff;
      border-color: #1890ff;
      border-left: 0;
      border-radius: 0 4px 4px 0;
    }
  }
}
.defaultSelectStyle {
  :global {
    .ant-select-selection {
      border-left: 0;
      border-radius: 0 4px 4px 0;
    }
  }
}
